*{
  margin: 0%;
  padding: 0;
  
  
  
  }
  .container-fluid{background-color:rgb(227, 238, 220);
      
      
    }
    
      form { width: 44%;
    border: px solid #eae4e4;
    position: absolute;
    top: 26%;
    left: 50%;
    height: 450px ;
    background:white;
    border-radius: 10px;
    
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 6px 0;
    border: 3px hsl(0, 38%, 95%);
    background-color: rgb(154, 183, 210);
    
    outline: height 1px;
    border-radius: 15px;
    
  
    
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #31ad83;
    color: rgb(238, 233, 233);
    padding: 14px 20px;
    margin: 10px 0;
    text-align:center;
    width: 30%;
    border-radius: 3%;
  
  
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  
  }
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 300px;
    border-radius: 50px;
  }
  
  /* Add padding to containers */
  .container {
  
    padding-top: 50px;
  
    width:500px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    margin-left: 60%;
    
  }
  h1{
    text-align: center;
    color:dark;
  }
  p{
    text-align: center;
    color: dark;
  }
  .btn-btn{
    margin-left: 35%;
    background-color:rgb(12, 17, 17);
    margin-top: 30px;
    border-radius: 30px;
  }
  .name{
      margin-top: 130px;
      margin-left: 80px;
      border-radius: 4%;
      
      height: 450px;
      
  }
  
  